<div class="depot_form">
	<div class="row">
		<div class="span6 offset3">
			<fieldset class="text-center">
				<legend>Please Enter Your Details</legend>
				<%= render 'form' %>
			</fieldset>
		</div>
	</div>
</div>
